#!/bin/sh
{{- if ( eq .chezmoi.os "linux" ) }}

# prevent installation of tzdata to prompt for timezone
DEBIAN_FRONTEND=noninteractive

install_packages() {
	sudo apt-get update
	
	# packages to install
	packages="
	awscli
	exa
	jq
	ripgrep
	httpie
	python3-venv 
	python3-pip
	"
	for pkg in $packages; do
		sudo apt-get install -y "$pkg"
	done

	sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- --yes
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

	python3 -m pip install --user pipx
	$HOME/.local/bin/pipx install yawsso
}

install_packages

{{ end }}