#!/bin/sh
{{- if ( eq .chezmoi.os "linux" ) }}

# prevent installation of tzdata to prompt for timezone
DEBIAN_FRONTEND=noninteractive

install_packages() {
	su root apt-get update
	
	# packages to install
	packages="
	awscli
	bat
	exa
	jq
	ripgrep
	httpie
	fish
	python3-venv 
	python3-pip
	zoxide
	"
	for pkg in $packages; do
		su root apt-get install -y "$pkg"
	done

	sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- --yes
	python3 -m pip install --user pipx
	pipx install yawsso
}

install_packages

{{ end }}